{
  "project_info": {
    "project_number": "730850262000",
    "project_id": "brave-balancer-kp7vm",
    "storage_bucket": "brave-balancer-kp7vm.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:730850262000:android:REPLACE_WITH_REAL_ANDROID_APP_ID",
        "android_client_info": {
          "package_name": "com.tinytinytoktok.app"
        }
      },
      "api_key": [
        {
          "current_key": "AIzaSyCY8N2P_MKroFOCEgzFNlY2sVjcqsSvUlQ"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
